@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

body{
	font-family: 'Poppins',sans-serif;
	margin: 0;
	background-image: url("imgsrc/college_banner_main.jpg");
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.company-logo{
	width: 30%;
	margin-top: 2em;
}

.menu h3{
	margin-top: 3em; 
}

.menu h2{
	margin-top: 2em; 
}
/**** TYPOGRAPHY ****/


.site-title{
	font-size: 1.5rem;
	text-decoration: underline;
	text-underline-position: auto;
	text-decoration-color: #51ff0d;
}
.copyright{
	text-align: right;
	color: #fff;
	font-size: medium;
	margin-top: 12em;
	margin-right: .7em;
}


/**** LAYOUT ****/

.container{
	display: flex;
	flex-direction: column;
}

.menu{
	text-align: center;
	/*background-color: #00B5E2;*/
	color: #fff;
	
	background: rgba( 12, 119, 251, 0.65 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 3px );
	-webkit-backdrop-filter: blur( 3px );
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.menu .login-links{
	align-items: center;
}
.menu ul{
	list-style: none;
	margin-top: 3em;
	margin-left: 3.5em;
	text-align:justify;
}

.menu ul li{
	margin-bottom: .5em;

}
.menu ul li a{
	font-size: 1.25rem;
	color: #fff;

	text-decoration: none;
}

.menu ul li a:hover{
	font-style: italic;
	color: #000;

}


.login-form{
	margin: 1em auto;
	background-color: #fff;
	width: 30%;
	min-width: 250px;
	padding: 1em 2em;
	align-content: center;
	opacity: 0.9;
	border-radius: 10px;

}

.login-form h3{
	text-align: center;
}

.login-form h4{
	margin-bottom: 0em;
	margin-top: 0em;
	text-align: center;
}

.login-form h4 a{

	color:  red;
	text-decoration: none;
	font-size: small;
}

.login-form h4 a:hover{

	color:rgb(71, 29, 29);
	text-decoration: underline;
	font-style: italic;
}
.h3sub h4{
	margin-bottom: 0em;
	margin-top: .5em;
	text-align: center;

}
.h3sub h4 a{
	color:  blue;
	text-decoration: none;
	margin-top: 0em;
	font-size: small;
	padding-top: 0em;
}
input{
	display:block;
	width: 100%;
	height: 2em;
	margin-top: .75em;
	margin-bottom: 0.75em;
}

input[type=submit]{
	background-color: #179143;
	color: #fff;
	width: 50%;
	height: 3em;
	margin-left: 25%;
	margin-top: 1.25em;
	font-weight: bold;
	border-color: #000;
	border-radius: .75rem;
}


input[type=submit]:hover{
	background-color: #dd8725;
	color: #000;
}


@media (min-width: 675px){
	.container{
		flex-direction: row;
	}

	.menu{
		width: 30%;
		height: 100vh;
	}


	.secondary{
		width: 70%;	

	}

	.secondary .login-form{
		margin-top: 6em;
	}
}

